* {
    margin: 0;
    padding: 0;
    font-family: SimSun, "Times Nenw Roman", "Microsoft YaHei", STXihei, "华文细黑", serif;
}


/*圆角边框*/

.radio {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.calculator {
    width: 440px;
    height: 430px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #339281;
    box-shadow: 2px 2px 6px;
    -webkit-box-shadow: 2px 2px 6px;
    -moz-box-shadow: 2px 2px 6px;
}


/*显示框*/

.show {
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    margin-left: 20px;
    margin-top: 10px;
    text-align: right;
    line-height: 60px;
    font-size: 50px;
    overflow: hidden;
}


/*按键*/

button {
    height: 50px;
    width: 65px;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
    color: #333;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
    border: 1px solid #74bbef;
    background: #74bbef;
    box-shadow: 2px 2px 1px;
    -webkit-box-shadow: 2px 2px 1px;
    -moz-box-shadow: 2px 2px 1px;
}

button:active {
    border: 1px solid #528cb7;
    background: #528cb7;
}
